@charset "UTF-8";
@font-face {
    font-family:Cristo ;
    src: url(../fonts/cristo_rey/);
}
:root {
    --cor1:#223740;
    --cor2:#182120;
    --cor3:#D9C39A;
    --cor4:#A68965;
    --cor5:#dd1518;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: var(--cor5);
    height: 70px;
    display: flex;
    flex-direction: row;/* Define a direção se é em linha ou coluna */
    position: relative;
}



    
#header {
    display: flex;
    width: 1500px;
    max-width: 1500px;
    margin: auto;
    justify-content:space-between;
    align-items: center;
}

#logo {
    width: 300px;
    color: black;/* Define a cor da fonte ods textos */
    font-size: 26px;/* Define o tamanho da fonte */
    text-transform: uppercase;/* Colocar em letras maiusculas */
    display: flex;/* Torna os itens internos em flexiveis */
    align-items: center;/* Alinha os itens no centro */
}

#logo img {
    width: 60px;
}

#logo p {
    min-width: 235px;
    text-align: center;
}

#esconder{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #d81620;
    z-index: 2;
}

#botao-menu {
    display: none;
}

label[for='botao-menu'] {
    color: black;
    cursor: pointer;
    display: none;
    position: absolute;
    left: 20px;
}
nav {
    display: flex;
    margin-left: auto;
}

 nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: #000000;
    height: 70px;
    width: 105px;
    display: flex;
    align-items: center;/*  Centraliza na vertical */
    justify-content: center;/* Centraliza na horizontal */
    padding: 0 10px 0 10px;
}

a:hover {
    background-color: var(--cor5);
}
#banner {
    margin: auto;
    width: 100%;
    height: 500px;
    background-image: url("../imagens/pexels-dmitry-zvolskiy-1570806.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}



.text-figure-small {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

#text-figure-1 {
    border-bottom: 1px solid white;
    padding: 0 25px 0 25px;
    text-align: center;
}

#text-figure-2 {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 72px;
    font-weight: bold;
    margin: 10px 0 10px 0;
    text-align: center;
    font-family: Cristo; 
}

main {
    position: relative;
    top: -30px;
    width: 90%;
    max-width: 1500px;
    margin: 0 auto 50px auto;
    border-top: 3px solid red;
    box-shadow: 3px 3px 10px black ;
    background-color: white;
  
 /*    box-shadow: 3px 3px 10px solid rgb(0, 0, 0, 0.3);  */
}

.main-section {
    width: 95%;
    max-width: 95%;
    margin: 30px auto 40px auto;
    height: auto;
    border: 1px solid black;
    border-top: 3px solid red;
}

.main-section h1 {
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid black;
}

#serviços{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid black;
}
#serviços > div {
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    border: 1px solid black; 
}

#serviços img{
    width: 80px;
    background-color: red;
    padding: 5px;
    border-radius: 50%;
}

 #serviços div:hover img {
    background-color:lawngreen;
 }

 #serviços div:hover figcaption{
   color:yellowgreen;
 }

 #profissionais > div {
    margin-bottom: 40px;
    width: 200px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 } 

 #profissionais > div:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scaleX(1.1);
 }
#profissionais figure {
    height: 250px;
    width: 250px;
    overflow: hidden;
}
#profissionais img{
     width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
     transition: all 0.3s;
    }

#profissionais p {
    text-align: center;
    margin-bottom: 5px;
}
.inf-profissionais {
    background-color: #d81620;
    padding: 10px 0 10px 0;
    width: 200px;
}
#profissionais div:hover figcaption{
        color: red;
    }

#contato {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#contato > p {
    width: 48%;
    min-width: 300px;
    text-align: justify;
    margin-bottom: 10px;
}

#contato > div {
    width: 48%;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
}

#form-nome {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#form-email {
    width: 48%;
    display: flex;
    flex-direction: column;
}

#form-msg {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#form-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#form-btn input {
    background-color: black;
}

#contato input {
    border-radius: 5px;
    height: 30px;
}

#contato label, input, textarea {
    margin-bottom: 10px;
}

/* Posotioon::

Static
Relative
Absolute
Fixed

*/

/* main > div {
    position: absolute;
    top: 50px;
    right: 50px;
    bottom:50px;
    left: 100px;
    height: 100px;
    width: 100px;
    border: 1px solid black;
} */


footer {
    background-color:red;
    height: 800px;
}

#footer {
    width: 90%;
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#footer > div{
    width: 49%;
    min-width: 300px;
}

#footer h2 {
    text-align: center;
    margin: 20px auto 40px auto;
}

#footer-end, #footer-redes {
    width: 49%;
}

#footer-redes > div{
    display: flex;
    justify-content: space-around;
    min-height: 300px;
    align-items: center;
    flex-wrap: wrap;
}

#footer-redes a {
    text-align: center;
}

#footer-redes img {
    width: 150px;
    height: 150px;
}

@media (max-width: 1080px) {
    nav {
      /*   display: none;  */
    }
    label[for='botao-menu'] {
         display: block;
    }
    nav {
        flex-direction: column;
        position: absolute;
        width: 90%;
        top: 100%;
        margin-top: -200%;
        transition: all 2s;
        z-index: 4;
    }

    nav a {
        width: 100%;
        background-color: #d81620;
        padding: 0;
    }

    label[for='botao-menu'] {
        display:block ;
        z-index: 6;
    }

    #botao-menu:checked ~ nav {
        margin-top: 0%;
    }
   
}



